{% macro messageBlock(message) %}
    <div class="col-md-4 message-block">
        <div class="message-block__inner">
            <div>

            </div>

            {% if message.imageMain %}
                <div class="message-block__img">
                    <img src="/images/messages/{{ message.imageMain }}" width="100%" alt="">
                </div>
            {% endif %}

            <p>{{ message.messageBody|striptags()| slice(0,150)|trim }} ... </p>
            <p> <a href="/channel/{{ message.channelName }}">
                    <button type="button" class="btn btn-outline-info"
                            style="font-size: 10px!important;padding: 2px;margin-top: -15px;">
                        {{ message.channelName }}
                    </button>
                </a>
                <span class="badge date-string bg-primary">{{ message.date |date("d/m/Y") }}</span></p>
            <a class="mt-1" href="/channel/{{ message.channelName }}/{{ message.slug }}">
                <button class="btn btn-primary form-control">Читать полностью</button>
            </a>
        </div>
    </div>
{% endmacro %}