<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="keywords" content="{% block meta_keys %}tgposts,{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
            integrity="sha512-/bOVV1DV1AQXcypckRwsR9ThoCj7FqTV2/0Bm79bL3YSyLkVideFLE3MIZkq1u5t28ke1c0n31WYCOrO01dsUg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(92895299, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92895299" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <style>
        .message-block__inner p {
            padding: 0 15px;
            font-size: 15px;
            margin-bottom: 0;
            position: relative;
            background-color: #ffffff;
            padding: 10px;

        }

        .message-block__inner {
            padding: 15px;
            margin-top: 10px;
            border-radius: 6px;
            /* border: 5px solid rgb(173 168 156); */
            box-shadow: inset 0px -20px 60px 8px rgb(200 222 255);
            /*background-color: #e0e0e0;*/
        }

        .message-block__img {
            display: inline-block;
            position: relative;
            line-height: 0;
            width: 100%;
        }

        .message-block__img img {
            max-height: 220px;
        }

        .message-block__img:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent linear-gradient(to bottom, #0b6efd3b, #eafdff);
            opacity: 0.7;
        }

        .channel-block {
            padding: 10px;
            text-align: center;
            display: inline-block;
            position: relative;
            width: fit-content;
        }

        .channel_block__inner {
            padding: 10px;
            border: 10px solid #55d4f2;
            margin: 10px;
        }

        .main {
            display: flex;
            flex-wrap: nowrap;
            height: 100vh;
            height: -webkit-fill-available;
            max-height: 100vh;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .big-img {
            max-width: 900px;
            width: 100%;
        }

        .date-string {
            float: right;
            border: 1px solid #14caf0 !important;
            color: #00b4de;
            background-color: #fff0 !important;
            font-weight: 300;
            margin-top: -5px;
        }

        .sub_tag {
            font-size: 11px!important;
            padding: 3px;
            color: teal;
        }

    </style>
</head>
<body>
<div class="row">
    <div class="col-md-3 p-3 text-white bg-dark" style="    display: inline-block;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">POSTIO.ONLINE</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="/"></use>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Каналы
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Новое
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Обсуждаемое
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="col-md-9">
        {% block body %}{% endblock %}
    </div>
</div>



<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #21252a">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#" class="text-white">About us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-5" />

            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>

                        </p>
                    </div>
                </div>
            </section>
            <!-- Section: Text -->


        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
        >
            © 2023 Copyright
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->



</body>
</html>
