{% extends 'base.html.twig' %}
{% block title %} POSTIO.ONLINE {% endblock %}
{% import 'partials/message-block.html.twig' as partial %}
{% block body %}
    <script>
        $(document).ready(function () {
            //$('.message-block').matchHeight();
        })
    </script>
    <div class="container">
        <div >
            <div class="row container">
                <h3 class="mt-2">Каналы</h3>
                {% for channel in channels %}
                    <div class="channel-block">
                        <div class="channel_block__inner">
                            <a href="/channel/{{ channel.channel_name }}">
                                {{ channel.channel_name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row container">
                <h3 class="mt-5">Последние посты</h3>
                <div class="count">Всего: {{ pagination.getTotalItemCount }}</div>

                {% for message in pagination %}
                    {{ partial.messageBlock(message) }}
                {% endfor %}

                <div class="navigation mt-4">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}