{% extends 'base.html.twig' %}
{% import 'partials/message-block.html.twig' as partial %}

{% block title %} Посты канала {{ channelName }} {% endblock %}

{% block body %}
    <script>
        $(document).ready(function (){
            //$('.message-block').matchHeight();
        })
    </script>

    <h1>Посты канала {{ channelName }}</h1>

    <div class="container">
        <div class="row">
            {% for message in messages %}
                {{ partial.messageBlock(message) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}