{% extends 'base.html.twig' %}

{% block title %}{{ messageName }}{% endblock %}

{% block meta_keys %}{{ metaKeys }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-9">
            <div>
                <div>
                    <div class="mt-4">
                        <a href="/channel/{{ message.channelName }}">
                            <button type="button" class="btn btn-outline-info">{{ message.channelName }}</button>
                        </a>
                    </div>

                    <h1>{{ messageName }}</h1>
                    <p><span class="badge bg-primary">{{ message.date |date("d/m/Y") }}</span></p>
                    <p>Просмотров: {{ message.views }}</p>

                    {% if message.imageMain %}
                        <img class="big-img" src="/images/messages/{{ message.imageMain }}" alt="">
                    {% endif %}

                    <div class="mt-4">{{ message.messageBody| raw }} ... </div>

                    <br>

                    <div>
                        {% if messageTags is iterable %}
                            <h3>Мета теги</h3>
                            {% for tag in messageTags %}
                                <span class="btn btn-outline-primary">#{{ tag.value }}</span>
                                {% if tag.sub_tags is defined %}
                                    {% for stag in tag.sub_tags %}
                                        <span class="btn btn-outline-secondary sub_tag">#{{ stag }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}